<!-- <meta http-equiv="refresh" content="3"> -->
<!-- /. NAV SIDE  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="home"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a class="active-menu"><i class="fa fa-list-alt"></i> Control</a>
            </li>
            <li>
                <a href="scenes"><i class="fa fa-picture-o"></i> Scenes</a>
            </li>
            <li>
                <a href="chart"><i class="fa fa-bar-chart-o"></i> Charts</a>
            </li>
            <li>
                <a href="camera"><i class="fa fa-camera"></i> Camera</a>
            </li>
            
            <li>
                <a href="table.html"><i class="fa fa-table"></i> Responsive Tables</a>
            </li>
            <li>
                <a href="form.html"><i class="fa fa-edit"></i> Forms </a>
            </li>
            <li>
                <a href="form.html"><i class="fa fa-fw fa-file"></i> Empty Page</a>
            </li>
        </ul>
    </div>
</nav>
<!-- /. NAV SIDE  -->      
<div id="page-wrapper" >
    <style>
        img.alarmClockIcon{
            width: 30px;
            height: 30px;
        }
        div.box{
            position: relative;
	        text-align: center;
	        width: 100px;
	        height: 60px;
	        margin: 20px auto 10px auto;
        }
        div.box .letterInsideButtonState1 {
            display: block;
            position: absolute;
            font-size: 26px;
            top: 18px;
            width: 100px;
            color: {{device1ButtonColor}};
            border: none;
            background-color: white;
        }

        div.box .letterInsideButtonState2 {
            display: block;
            position: absolute;
            font-size: 26px;
            top: 18px;
            width: 100px;
            color: {{device2ButtonColor}};
            border: none;
            background-color: white;
        }

        div.box .letterInsideButtonState3 {
            display: block;
            position: absolute;
            font-size: 26px;
            top: 18px;
            width: 100px;
            color: {{device3ButtonColor}};
            border: none;
            background-color: white;
        }

        div.box .letterInsideButtonState4 {
            display: block;
            position: absolute;
            font-size: 26px;
            top: 18px;
            width: 100px;
            color: {{device4ButtonColor}};
            border: none;
            background-color: white;
        }

        button.buttonSetTime{
            float: right;
            width: 50px; 
            height: 40px; 
            margin-top: 15px; 
            border: none;
            background-color: white;
        }
    </style>   
    <h2> SMARTHOME CONTROL PAGE</h2>
    <br>
    

    <div class="col-xs-6 col-md-2">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <form action = "/device1", method = "post">
                    <h4> DEVICE 1 </h4>
                    <div class="box">
                        <button type="submit" class="letterInsideButtonState1" id = "device1">{{device1state}}</button>
                    </div>
                </form>

                <button class ="buttonSetTime" data-toggle="modal" data-target="#myModal1">
                    <img src="./img/alarmclock.png" class ="alarmClockIcon">
                </button>
                <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action = "/submitTheTimeDevice1", method = "get">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">SET TIME FOR DEVICE</h4>
                                </div>
                                <div class="modal-body">
                                    <h4> Set time when turn device on </h4>
                                    <input type="time" name="setTimeOn">
                                    <h4> Set time when turn device off </h4>
                                    <input type="time" name="setTimeOff">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button class="btn btn-primary">Save changes</button>
                                </div>
                            </form>    
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="col-xs-6 col-md-2">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <form action = "/device2", method = "post">
                    <h4> DEVICE 2 </h4>
                    <div class="box">
                        <button type="submit" class="letterInsideButtonState2" id = "device2">{{device2state}}</button>
                    </div>
                </form>

                <button class ="buttonSetTime" data-toggle="modal" data-target="#myModal2">
                    <img src="./img/alarmclock.png" class ="alarmClockIcon">
                </button>
                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action = "/submitTheTimeDevice2", method = "get">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">SET TIME FOR DEVICE</h4>
                                </div>
                                <div class="modal-body">
                                    <h4> Set time when turn device on </h4>
                                    <input type="time" name="setTimeOn">
                                    <h4> Set time when turn device off </h4>
                                    <input type="time" name="setTimeOff">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button class="btn btn-primary">Save changes</button>
                                </div>
                            </form>    
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-xs-6 col-md-2">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <form action = "/device3", method = "post">
                    <h4> DEVICE 3 </h4>
                    <div class="box">
                        <button type="submit" class="letterInsideButtonState3" id = "device3">{{device3state}}</button>
                    </div>
                </form>
                
                <button class ="buttonSetTime" data-toggle="modal" data-target="#myModal3">
                    <img src="./img/alarmclock.png" class ="alarmClockIcon">
                </button>
                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action = "/submitTheTimeDevice3", method = "get">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">SET TIME FOR DEVICE</h4>
                                </div>
                                <div class="modal-body">
                                    <h4> Set time when turn device on </h4>
                                    <input type="time" name="setTimeOn">
                                    <h4> Set time when turn device off </h4>
                                    <input type="time" name="setTimeOff">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button class="btn btn-primary">Save changes</button>
                                </div>
                            </form>    
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-md-2">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <form action = "/device4", method = "post">
                    <h4> DEVICE 4 </h4>
                    <div class="box">
                        <button type="submit" class="letterInsideButtonState4" id = "device4">{{device4state}}</button>
                    </div>
                </form>
                
                <button class ="buttonSetTime" data-toggle="modal" data-target="#myModal4">
                    <img src="./img/alarmclock.png" class ="alarmClockIcon">
                </button>
                <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action = "/submitTheTimeDevice4", method = "get">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">SET TIME FOR DEVICE</h4>
                                </div>
                                <div class="modal-body">
                                    <h4> Set time when turn device on </h4>
                                    <input type="time" name="setTimeOn">
                                    <h4> Set time when turn device off </h4>
                                    <input type="time" name="setTimeOff">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button class="btn btn-primary">Save changes</button>
                                </div>
                            </form>    
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>


</div>

<script>
    function updateData(){
        $.ajax({
            url: "./state", 
            dataType: 'JSON',
            success: function(result){
                if(result.device1 === "on"){ 
                    $("#device1").text("ON");
                    $("#device1").css("color","green");
                }
                if(result.device1 === "off"){ 
                    $("#device1").text("OFF");
                    $("#device1").css("color","red");
                }
                if(result.device2 === "on"){ 
                    $("#device2").text("ON");
                    $("#device2").css("color","green");
                }
                if(result.device2 === "off"){ 
                    $("#device2").text("OFF");
                    $("#device2").css("color","red");
                }
                if(result.device3 === "on"){ 
                    $("#device3").text("ON");
                    $("#device3").css("color","green");
                }
                if(result.device3 === "off"){ 
                    $("#device3").text("OFF");
                    $("#device3").css("color","red");
                }
                if(result.device4 === "on"){ 
                    $("#device4").text("ON");
                    $("#device4").css("color","green");
                }
                if(result.device4 === "off"){ 
                    $("#device4").text("OFF");
                    $("#device4").css("color","red");
                }
                setTimeout(function(){
                    updateData()
                }, 2000);
            }
        });
    }
    updateData();
</script>

