<!-- /. NAV SIDE  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="home"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a class="active-menu"><i class="fa fa-list-alt"></i> Control</a>
            </li>
            <li>
                <a href="camera"><i class="fa fa-camera"></i> Camera</a>
            </li>
            <li>
                <a href="chart.html"><i class="fa fa-bar-chart-o"></i> Charts</a>
            </li>
            <li>
                <a href="tab-panel.html"><i class="fa fa-qrcode"></i> Tabs & Panels</a>
            </li>
            
            <li>
                <a href="table.html"><i class="fa fa-table"></i> Responsive Tables</a>
            </li>
            <li>
                <a href="form.html"><i class="fa fa-edit"></i> Forms </a>
            </li>
            <li>
                <a href="form.html"><i class="fa fa-fw fa-file"></i> Empty Page</a>
            </li>
        </ul>
    </div>
</nav>
<!-- /. NAV SIDE  -->      
<div id="page-wrapper" >
    <style>
        img.alarmClockIcon{
            width: 30px;
            height: 30px;
        }
        div.box{
            position: relative;
	        text-align: center;
	        width: 100px;
	        height: 60px;
	        margin: 20px auto 10px auto;
        }
        div.box .letterInsideButtonState1 {
            display: block;
            position: absolute;
            font-size: 26px;
            top: 18px;
            width: 100px;
            color: {{device1ButtonColor}};
            border: none;
            background-color: white;
        }

        div.box .letterInsideButtonState2 {
            display: block;
            position: absolute;
            font-size: 26px;
            top: 18px;
            width: 100px;
            color: {{device2ButtonColor}};
            border: none;
            background-color: white;
        }

        div.box .letterInsideButtonState3 {
            display: block;
            position: absolute;
            font-size: 26px;
            top: 18px;
            width: 100px;
            color: {{device3ButtonColor}};
            border: none;
            background-color: white;
        }

        button.buttonSetTime{
            float: right;
            width: 50px; 
            height: 40px; 
            margin-top: 15px; 
            border: none;
            background-color: white;
        }
    </style>   
    <h2> SMARTHOME CONTROL PAGE</h2>
    <br>
    <h3 style="margin-bottom: 15px"> PHÒNG 1 </h3>

    <div class="col-xs-6 col-md-2">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <form action = "/device1", method = "post">
                    <h4> THIẾT BỊ 1 </h4>
                    <div class="box">
                        <button type="submit" class="letterInsideButtonState1">{{device1state}}</button>
                    </div>
                </form>
                <form action = "/setTimeDevice1", method = "get">
                    <button type="submit" class ="buttonSetTime">
                        <img src="./img/alarmclock.png" class ="alarmClockIcon">
                    </button>
                </form>
            </div>
        </div>
    </div>
    
    <div class="col-xs-6 col-md-2">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <form action = "/device2", method = "post">
                    <h4> THIẾT BỊ 2 </h4>
                    <div class="box">
                        <button type="submit" class="letterInsideButtonState2">{{device2state}}</button>
                    </div>
                </form>
                <form action = "/setTimeDevice1", method = "get">
                    <button type="submit" class ="buttonSetTime">
                        <img src="./img/alarmclock.png" class ="alarmClockIcon">
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-md-2">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <form action = "/device3", method = "post">
                    <h4> THIẾT BỊ 3 </h4>
                    <div class="box">
                        <button type="submit" class="letterInsideButtonState3">{{device3state}}</button>
                    </div>
                </form>
                <form action = "/setTimeDevice1", method = "get">
                    <button type="submit" class ="buttonSetTime">
                        <img src="./img/alarmclock.png" class ="alarmClockIcon">
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>