<!-- /. NAV SIDE  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a class="active-menu"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="control"><i class="fa fa-list-alt"></i> Control</a>
            </li>
            <li>
                <a href="scenes"><i class="fa fa-picture-o"></i> Scenes</a>
            </li>
            <li>
                <a href="chart"><i class="fa fa-bar-chart-o"></i> Charts</a>
            </li>
            <li>
                <a href="camera"><i class="fa fa-camera"></i> Camera</a>
            </li>
            
            <li>
                <a href="table.html"><i class="fa fa-table"></i> Responsive Tables</a>
            </li>
            <li>
                <a href="form.html"><i class="fa fa-edit"></i> Forms </a>
            </li>
            <li>
                <a href="form.html"><i class="fa fa-fw fa-file"></i> Empty Page</a>
            </li>
        </ul>
    </div>
</nav>
<!-- /. PAGE WRAPPER  --> 
<div id="page-wrapper" >
    <div id="page-inner">
        <style>
        img.logo {
            width:100px;
            height:100px;
        }
        img.houseoverview{
            float:left;
            margin-left: 1cm;
            margin-top: 1cm;
            width:500px;
            height:267px;
        }
        h1.titlesmarthome{
            font-size: 250%;
            margin-top: 1cm;
            margin-left: 3.5cm;
        }
        div.boxDistance{
            margin-top: 1.5cm;
        }
        div.box{
            position: relative;
	        text-align: center;
	        width: 120px;
	        height: 120px;
	        margin: 20px auto 10px auto;
        }
        div.box .letterInsideGasdetectionBox {
            display: block;
            position: absolute;
            font-size: 26px;
            top: 38px;
            width: 120px;
            color: {{letterInsideGasdetectionBox}};
        }
        div.box .letterInsideHumandetectionBox {
            display: block;
            position: absolute;
            font-size: 26px;
            top: 38px;
            width: 120px;
            color: {{letterInsideHumandetectionBox}};
        }
        div.box .letterInsideSecurityBox {
            display: block;
            position: absolute;
            font-size: 26px;
            top: 38px;
            width: 120px;
            color: {{letterInsideSecurityBox}};
        }
        </style>

        <div style = "float:left">
            <img src="./img/logoBK.png" class ="logo">
        </div>

        <div>
            <h1 class = "titlesmarthome">SMART HOME</h1>
        </div>

        <div class = "boxDistance">
            <div class="col-md-12 col-sm-12 col-xs-12">                     
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Area Chart
                    </div>
                    <div class="panel-body">
                        <div id="chartContainer" style="height: 300px; width:100%;"></div>
                    </div>
                </div>            
            </div>
        </div>

        <div class = "boxDistance">
            <div class="col-xs-6 col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Temparature</h4>
                        <div class="easypiechart" id="easypiechart-red" data-percent="{{insideTemperature}}" ><span class="percent">{{insideTemperature}} &#8451;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class = "boxDistance">
            <div class="col-xs-6 col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Humidity</h4>
                        <div class="easypiechart" id="easypiechart-blue" data-percent="{{insideHumidity}}" ><span class="percent">{{insideHumidity}} %</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class = "boxDistance">
            <div class="col-xs-6 col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Gas Detection</h4>
                        <div class="box"><span class="letterInsideGasdetectionBox">NO</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class = "boxDistance">
            <div class="col-xs-6 col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Human</h4>
                        <div class="box"><span class="letterInsideHumandetectionBox">YES</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class = "boxDistance">
            <div class="col-xs-6 col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Security</h4>
                        <div class="box"><span class="letterInsideSecurityBox">Unarmed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>                

        
        
    </div>    
</div>

<script type="text/javascript">
	window.onload = function () {

		var dps = []; // dataPoints

		var chart = new CanvasJS.Chart("chartContainer",{
			title :{
				text: "Live Power Consumption"
			},
            axisY:{
                title: "Power (W)"
            },
            axisX:{
                title: "Time"
            },			
			data: [{
				type: "line",
				dataPoints: dps 
			}]
		});

		var xVal = 0;
		var yVal = 100;	
		var updateInterval = 100;
		var dataLength = 500; // number of dataPoints visible at any point

		var updateChart = function (count) {
			count = count || 1;
			// count is number of times loop runs to generate random dataPoints.
			
			for (var j = 0; j < count; j++) {	
				yVal = yVal +  Math.round(5 + Math.random() *(-5-5));
				dps.push({
					x: xVal,
					y: yVal
				});
				xVal++;
			};
			if (dps.length > dataLength)
			{
				dps.shift();				
			}
			
			chart.render();		

		};

		// generates first set of dataPoints
		updateChart(dataLength); 

		// update chart after specified time. 
		setInterval(function(){updateChart()}, updateInterval); 

	}
	</script>
	<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

	
