<!-- /. NAV SIDE  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a class="active-menu"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-list-alt"></i> Control<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="control">ALL ROOMS</a>
                    </li>
                    <li>
                        <a href="#">ROOM 1</a>
                    </li>
                    <li>
                        <a href="#">ROOM 2</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="chart.html"><i class="fa fa-bar-chart-o"></i> Charts</a>
            </li>
            <li>
                <a href="tab-panel.html"><i class="fa fa-qrcode"></i> Tabs & Panels</a>
            </li>
            
            <li>
                <a href="table.html"><i class="fa fa-table"></i> Responsive Tables</a>
            </li>
            <li>
                <a href="form.html"><i class="fa fa-edit"></i> Forms </a>
            </li>
            <li>
                <a href="form.html"><i class="fa fa-fw fa-file"></i> Empty Page</a>
            </li>
        </ul>
    </div>
</nav>
<!-- /. PAGE WRAPPER  --> 
<div id="page-wrapper" >
    <div id="page-inner">
        <style>
        img.logo {
            width:100px;
            height:100px;
        }
        img.houseoverview{
            float:left;
            margin-left: 1cm;
            margin-top: 1cm;
            width:500px;
            height:267px;
        }
        h1.titlesmarthome{
            font-size: 250%;
            margin-top: 1cm;
            margin-left: 3.5cm;
        }
        div.boxDistance{
            margin-top: 1.5cm;
        }
        div.box{
            position: relative;
	        text-align: center;
	        width: 120px;
	        height: 120px;
	        margin: 20px auto 10px auto;
        }
        div.box .letterInsideGasdetectionBox {
            display: block;
            position: absolute;
            font-size: 26px;
            top: 38px;
            width: 120px;
            color: {{letterInsideGasdetectionBox}};
        }
        div.box .letterInsideHumandetectionBox {
            display: block;
            position: absolute;
            font-size: 26px;
            top: 38px;
            width: 120px;
            color: {{letterInsideHumandetectionBox}};
        }
        div.box .letterInsideSecurityBox {
            display: block;
            position: absolute;
            font-size: 26px;
            top: 38px;
            width: 120px;
            color: {{letterInsideSecurityBox}};
        }
        </style>

        <div style = "float:left">
            <img src="./img/logoBK.png" class ="logo">
        </div>

        <div>
            <h1 class = "titlesmarthome">SMART HOME</h1>
        </div>
        
        <div class = "boxDistance">
            <div class="col-xs-6 col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Temparature</h4>
                        <div class="easypiechart" id="easypiechart-red" data-percent="{{insideTemperature}}" ><span class="percent">{{insideTemperature}} &#8451;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class = "boxDistance">
            <div class="col-xs-6 col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Humidity</h4>
                        <div class="easypiechart" id="easypiechart-blue" data-percent="{{insideHumidity}}" ><span class="percent">{{insideHumidity}} %</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class = "boxDistance">
            <div class="col-xs-6 col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Gas Detection</h4>
                        <div class="box"><span class="letterInsideGasdetectionBox">NO</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class = "boxDistance">
            <div class="col-xs-6 col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Human</h4>
                        <div class="box"><span class="letterInsideHumandetectionBox">YES</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class = "boxDistance">
            <div class="col-xs-6 col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Security</h4>
                        <div class="box"><span class="letterInsideSecurityBox">Unarmed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>    
</div>